body {
  font-family: sans-serif;
  background-color: #e3e3e3;
}

.container {
  width: 375px;
  margin: auto;
}

h1 {
  text-align: Center;
  font-size: 1.25em;
  padding-top: 10%;
  padding-bottom: 3%;
  color: #000000;
  background-color: #F5F5F5;
}

h2 {
  font-size: .75em;
  padding: 3%;
  text-transform: uppercase;
  color: #696969;
  float: left;
  text-align: left;
  width: 100%;
}

 li {
  display: inline;
}

 .a {
  display: inline;
  list-style-type: none;
  color: #000;
  font-size: .75em;
  font-weight: bold;
  padding: 5%;
  float: left;
  text-align: left;
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 1px solid #e3e3e3;

}

.b {
  display: inline;
  list-style-type: none;
  font-size: .75em;
  padding: 3%;
  float: left;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  color: #696969;
}
