/* Rectangle 1 */

.rectangle1 {
position: absolute;
width: 375px;
height: 44px;
left: -313px;
top: -150px;

background: #FAF3E2;
}

/* Rectangle 2 */

.rectangle2 {
position: absolute;
width: 375px;
height: 44px;
left: -313px;
top: -61px;

background: #FAF3E2;
}


/* Rectangle 3 */

.rectangle3{
position: absolute;
width: 375px;
height: 44px;
left: 0px;
top: 501px;

background: #FFFFFF;
}

/* Rectangle 4 */
.rectanlge4
{
position: absolute;
width: 375px;
height: 44px;
left: 2px;
top: 590px;

background: #FFFFF;
}

/* Rectangle 5 */

.rectable5
{
position: absolute;
width: 375px;
height: 44px;
left: -0.5px;
top: 678px;

background: #FFFFFF;
}
