
.map {
  width: 375px;
  display: inline-block;
  float:left;
  padding-bottom: 5%;
}


body {
  font-family: sans-serif;
  background-color: #e3e3e3;
}

.container {
  width: 375px;
  margin: auto;
  background-color: #F6F6F6;
}

h1 {
  text-align: Center;
  font-size: 1.4em;
  padding-top: 20%;
  padding-bottom: 4%;
  width: 100%;
  color: #fff;
  background-color: #5FAED0;
}

h2 {
  font-size: .75em;
  font-weight: medium;
  padding: 3%;
  text-transform: uppercase;
  color: #696969;
  float: left;
  text-align: left;
  width: 94%;
  color: #8E8E93;
  background-color: #FAF3E2;
}

li {
 display: inline-block;
 padding: inherit;
}

.column-1 {
  padding: 2%;
  width: 10%;
}

.column-2 {
  padding: 2%;
  width: 37%;
}

.column-3 {
  padding: 2%;
  width: 35%;
}

.row {
  display: inline;
  list-style-type: none;
  font-size: .75em;
  padding: 2%;
  float: left;
  width: 96%;
  border-bottom: 1px solid #e3e3e3;
  color: #696969;
}

 .row-a {
  display: inline;
  list-style-type: none;
  color: #000;
  font-size: .75em;
  font-weight: medium;
  padding: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
  width: 98%;
  float: left;
  background-color: #F6F6F6;
  border-bottom: 1px solid #e3e3e3;
}


.row-1 {
  background-color: #ffff;
}

.row-2 {
  background-color: #F6F6F6;
}


.tab-bar-icon {
  bottom: 5%;
  left: 0;
  display: inline-block;
  width: 375px;
  padding-top: 1%;
}

.tab-bar-words{
  display: inline-block;
  color: #979797;
  font-size: .8em;
  background-color: #F6F6F6;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 100%;
}

.column-a {
  text-align: center;
  width: 35%;
}

.column-b {
  text-align: center;
  width: 31%;
}

.column-c {
  text-align: center;
  width: 30%;
}
